.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
  text-align: center;
}

.PageHeader--Title {
  margin-bottom: 20px;
  color: #f2f2f2;
  font-style: normal;
  font-weight: bold;
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 3rem;
  color: #cc0033;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.PageHeader--Edition {
  font-size: 4rem;
  margin-bottom: 0;
  color: #cc9966;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.PageHeader--Dates {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin: 0;
  font-size: 4rem;
  background: #cc9966;
  transition: background ease .25s;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.PageHeader--Dates:hover {
  background: #a32c4a;
}
.PageHeader--Dates:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
