.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 60vh; /* if you don't want it to take up the full screen, reduce this number */
  overflow: hidden;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
  text-align: center;
}

.PageHeader--Title {
  max-width: 35rem;
  margin-top: 0;
  margin-right: auto!important;
  margin-left: auto!important;
  margin-bottom: 20px;
  font-family: raleway,HelveticaNeue-CondensedBold,"Arial Narrow","Helvetica Neue",Arial,sans-serif;
  color: #f2f2f2;
  font-style: normal;
  font-weight: bold;
  font-size: 11vmin;
  letter-spacing: .2rem;
  line-height: 5rem;
  text-align: center;
  text-shadow: 0.5px 0.5px #333e51, 1px 1px #333e51, 1.5px 1.5px #333e51, 2px 2px #333e51, 2.5px 2.5px #333e51, 3px 3px #333e51, 3.5px 3.5px #333e51, 4px 4px #333e51, 4.5px 4.5px #333e51, 5px 5px #333e51, 5.5px 5.5px #333e51, 6px 6px #333e51, 6.5px 6.5px #333e51, 7px 7px #333e51;
}

.PageHeader--Subtitle {
  margin: 0 0 1.625rem;
  font-weight: 400;
  font-size: 3rem;
  color: #cc0033;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.PageHeader--Edition {
  font-size: 4rem;
  margin-bottom: 0;
  color: #cc9966;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.PageHeader--Dates {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin: 0;
  font-size: 4rem;
  background: #cc9966;
  transition: background ease .25s;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.PageHeader--Dates:hover {
  background: #a32c4a;
}
.PageHeader--Dates:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
