.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #c69f61;
}

.svg-icon circle {
  stroke: #c69f61;
  stroke-width: 1;
}

.TopRightCorner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}
.TopRightCorner svg {
  color: #fff;
  border: 0;
  max-width: 6rem;
  max-height: 6rem;
}

.TopRightCorner .svg-icon {
  transform-origin: 130px 106px;
}

.TopRightCorner:hover .svg-icon {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 600px) {
  .TopRightCorner {
    position: absolute;
    top: 6rem;
    z-index: 1;
  }

  .TopRightCorner:hover .svg-icon {
    animation: none;
  }

  .TopRightCorner .svg-icon {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
